# Gradle
.gradle/
build/
captures/
.externalNativeBuild/
cxx/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
.idea_modules/

# Android
*.apk
*.ap_
*.aab
*.dex
bin/
gen/
out/
sample/release/
sample/develop/
proguard/
*.log
.navigation/

# macOS
.DS_Store

# Android Studio
local.properties

# Keystore files
*.jks
*.keystore
google-services.json